.portfolioContainer{
    /* border: solid red 1px; */
    display: flex;
    flex-direction: row;
    height: 70%;
    /* width: 75%; */
    margin: 0 auto;
}

.pageTitle{
    text-align: left;
    font-size: 2.5em;
    font-weight: 500;
    /* color: #a476d8cf; */
    color: #3b3a3b;
    padding: 40px;
    margin-bottom: 20px;
}

.timeline{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    /* border: solid red 1px; */
}

.timelineTime{
    font-size: 1.2em;
}

.projects{
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    /* border: solid red 1px; */
    padding: 20px 20px 20px 0;
    text-align: left;
}

.projectImg{
    height: 40px;
    width: 40px;
    border-radius: 4px;
    display: inline-block;
    /* border: solid red 1px; */
}

.projectTitle{
    display: inline-block;
    font-size: 2.3em;
    font-weight: 400;
    position: relative;
    top: -7px;
    margin-left: 10px;
}

.projectDate{
    color: #7b7a7b;
    font-size: 1.2em;
    padding: 15px 0;
    margin-bottom: 10px;
}

.projectLink{
    text-decoration: underline;
    color:#af91ea;
}

.projectLink:hover{
    color:#54436d;
}

.goToWeb{
    font-size: 1.1em;
    padding: 3px 0;
    color:#161517;
}

.listed{
    padding: 5px 0;
    font-size: 1.1em;
}

.projectSep{
    margin-bottom: 50px;
}

.projectDesc{
    color:#3a3a3b
}

.projImage{
    height: 250px;
    width: 400px;
    border: groove rgba(128, 128, 128, 0.418) 1px;
    border-radius: 4px;
    box-shadow: 2px 1px 2px rgba(115, 94, 112, 0.548);
}