.aboutMe {
    padding: 20px 0;
    text-align: left;
    margin: 0 auto;
    width: 70%;
    height: 100vh;
}

.about {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 30px;
    color: rgba(39, 37, 37, 0.839)
}

.aboutText{
    text-align: left;
    font-size: 1.2em;
    line-height: 2;

    /* border: solid red 1px; */
    position: relative;
    top: -30px;
}

.topLine {
    height: 5px;
    width: 25%;
    background-color: #BD9DFF;
    margin-bottom: 10px;
}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}


.myArt {
    padding: 20px 10px;
    display: inline-block;
}

.art {
    height: 100%;
    max-height: 300px;
    width: 95%;
    border-radius: 2px;
    border: solid rgb(161, 161, 161) 1px;
    /* padding: 0 10px 0 0; */
    margin: 0 5px;
}

.art:hover {
    transform: scale(1.05);
}

.slides {
    border: solid rgba(180, 180, 180, 0.417) 1px;
    background-color: rgb(249, 245, 253);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 95%;
    border-radius: 2px;
    position: relative;
    top: -20px
}

.clickme {
    padding: 0px 10px;
}

.clickme:hover {
    transform: scale(1.2);
}

.smallSlides {
    display: none;
}

@media only screen and (max-width: 1000px) {

    .aboutMe {
        height: fit-content;
    }

    .about {
        margin-bottom: 20px;
    }

    .topLine {
        width: 100%;
    }

    .slides {
        display: none;
    }

    .smallSlides {
        display: contents;
    }

    .theArt {
        /* border: solid red 1px; */
        width: fit-content;
        margin: 0 auto;
    }

    .clickme {
        display: inline;
        /* border: solid red 1px; */
        padding: 0 20%;
    }

    .holdBtn {
        /* border: solid red 1px; */
        text-align: center;
        margin-bottom: 50px;
    }

}