.homeContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    /* border: solid red 1px */
}

.homeInfo {
    display: flex;
    /* flex-basis: 65%; */
    flex-direction: column;
    text-align: left;
    justify-content: center;
    /* border: solid red 1px; */
    margin-left: 30px;
}

.allInfo {
    /* border: solid red 1px; */
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: -1%;
}

.homeCard {
    display: flex;
    flex-basis: 35%;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -20px;
    align-items: center;
    /* border: solid red 1px; */
}

.keep {
    display: inline;
    /* border: solid blue 1px; */
}

.verify {
    height: 40px;
    width: 40px;
    margin-left: 5px;
    display: inline;
    position: relative;
    top: 5px;
    /* border: solid red 1px; */
}

.myName {
    font-size: 3em;
    display: inline;
    /* border: solid red 1px; */
    font-weight: 500;
}

.pronouns {
    color: rgba(128, 128, 128, 0.78);
    display: inline;
    position: relative;
    top: -15px;
    font-size: 1.3em;
    font-weight: 400;
    /* border: solid red 1px; */
}

.location {
    color: rgba(128, 128, 128, 0.78);
    font-weight: 400;
    /* border: solid red 1px */
}

.homeText {
    font-size: 1.5em;
    font-weight: 400;
    color: #464346e3;
}

.pfp {
    height: 170px;
    width: 180px;
    border-radius: 200px;
    margin-top: 50px;
    margin: 10px 3px 0 3px;
    /* border: solid red 1px; */
}

.cardName {
    font-size: 1.3em;
    padding: 0 0 10px 0;
    color: rgba(69, 69, 69, 0.885);
}

.circle {
    background-color: rgb(119, 220, 88);
    height: 18px;
    width: 18px;
    border-radius: 10px;
    position: relative;
    top: 198px;
    left: 50px;
    border: solid green 1px;
    /* border: solid red 1px; */
}

button {
    background-color: #BD9DFF;
    padding: 5px 20px;
    color: white;
    border: solid #8D6AD7 1px;
    /* border: none; */
    border-radius: 18px;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 30px;
    margin: 0 auto;
    margin-bottom: 40px;
}

button:hover {
    transform: scale(1.05);
}

.paper {
    width: fit-content;
    background-color: #F9F9F9 !important;
    border: solid #BAA6C6 1px;
}

.arrow {
    height: 200px;
    width: 200px;
}


@media only screen and (max-width: 900px) {
    .homeCard {
        width: 100%;
        margin: 0 auto;
        /* border: solid red 1px; */
        margin-bottom: 20px;
    }

    .myName {
        font-size: 3em;
        display: inline;
        text-align: center;
        /* border: solid red 1px; */
        font-weight: 500;
        width: 100%;
        margin: 0 auto;
    }

    .keep {
        display: inline-block;
    }

    .verify {
        display: inline;
    }

    .allInfo {
        /* border: solid red 1px; */
        width: 100%;
        margin: 0 auto;
    }

    .homeContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
    }
}