.App {
  text-align: center;
}

.Links{
  color: black;
}

.Links:hover{
  transform: scale(1.1);
  color: #9E8EFF;
}

.active{
  color: #9E8EFF
}

@media only screen and (max-width: 900px) {
  .navHere{
      display: none
  }
}